# pandas
ML Developer Stack(2)

In [1]:
import pandas as pd
import numpy as np
read_obj=pd.read_csv("terrorismData.csv")
#all data of the given csv file is loaded into the reader object
print(type(read_obj))
read_obj
read_obj1=read_obj#just a reference to the original reader obj
read_obj2=read_obj.copy()#creates an exact replica of the original dataset

#by default the top row of the csv file is takes a s the header of the pandas obj

<class 'pandas.core.frame.DataFrame'>

In [2]:
class integer:
    def __init__(self, n:int):
        self.x=n       
    pass
a=integer(1)
print(a.x)
b=a
a.x=2
print(b.x)
print(a.x)

1
2
2

In [3]:
#returns a panadas data frame with the first 5 columns by default
read_obj1.head()
read_obj1.head(3)

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown

In [4]:
read_obj1.columns=['Year1', 'Month1', 'Day1', 'Country1', 'State1', 'Region1', 'City1',
       'Latitude1', 'Longitude1', 'AttackType1', 'Killed1', 'Wounded1', 'Target1',
       'Summary1', 'Group1', 'Target_type1', 'Weapon_type1']
read_obj1
#read_obj1.columns=['year1'] gives an error, provide names for all columns of the datatable

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives

In [5]:
#these functions/ attributes help in getting an overview of the data we are dealing with
print(read_obj1.shape)
print(read_obj1.dtypes)
read_obj1.describe()
#count row returned by the describe funciton counts the non NULL values in that pirticular column only
#thus the value of count for diff columns will be different

(181691, 17)
Year1             int64
Month1            int64
Day1              int64
Country1         object
State1           object
Region1          object
City1            object
Latitude1       float64
Longitude1      float64
AttackType1      object
Killed1         float64
Wounded1        float64
Target1          object
Summary1         object
Group1           object
Target_type1     object
Weapon_type1     object
dtype: object

,Year1,Month1,Day1,Latitude1,Longitude1,Killed1,Wounded1
count,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,23.498343,-4.586957e+02,2.403272,3.167668
std,13.259430,3.388303,8.814045,18.569242,2.047790e+05,11.545741,35.949392
min,1970.000000,0.000000,0.000000,-53.154613,-8.618590e+07,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,11.510046,4.545640e+00,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,31.467463,4.324651e+01,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,34.685087,6.871033e+01,2.000000,2.000000
max,2017.000000,12.000000,31.000000,74.633553,1.793667e+02,1570.000000,8191.000000

In [6]:
read_obj.Year1
read_obj['Country1']

0         Dominican Republic
1                     Mexico
2                Philippines
3                     Greece
4                      Japan
                 ...
181686               Somalia
181687                 Syria
181688           Philippines
181689                 India
181690           Philippines
Name: Country1, Length: 181691, dtype: object

In [7]:
#returns the original table as a boolean table with false at all tose places with value not NULL
read_obj.isnull()
read_obj1.isnull().sum()#returns the total number of values in each columns which are null

Year1               0
Month1              0
Day1                0
Country1            0
State1            421
Region1             0
City1             435
Latitude1        4556
Longitude1       4557
AttackType1         0
Killed1         10313
Wounded1        16311
Target1           638
Summary1        66129
Group1              0
Target_type1        0
Weapon_type1        0
dtype: int64

In [8]:
#this funcuton is used to acces certain blocks of data fron the given file
read_obj1.iloc[1:10,0:5]

   Year1  Month1  Day1       Country1      State1
1   1970       0     0         Mexico     Federal
2   1970       1     0    Philippines      Tarlac
3   1970       1     0         Greece      Attica
4   1970       1     0          Japan     Fukouka
5   1970       1     1  United States    Illinois
6   1970       1     2        Uruguay  Montevideo
7   1970       1     2  United States  California
8   1970       1     2  United States   Wisconsin
9   1970       1     3  United States   Wisconsin

In [9]:
a=read_obj1.drop(0, inpalce=False)
a.head()

TypeError: drop() got an unexpected keyword argument 'inpalce'

In [ ]:
a=read_obj1.drop(2, inplace=False)
a.head()
#gives an error because the row with label 0 has aldready been deleted

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary
5,1970,1,1,United States,Illinois,North America,Cairo,37.005105,-89.176269,Armed Assault,0.0,0.0,Cairo Police Headquarters,1/1/1970: Unknown African American assailants ...,Black Nationalists,Police,Firearms
6,1970,1,2,Uruguay,Montevideo,South America,Montevideo,-34.891151,-56.187214,Assassination,0.0,0.0,Juan Maria de Lucah/Chief of Directorate of in...,NaN,Tupamaros (Uruguay),Police,Firearms
7,1970,1,2,United States,California,North America,Oakland,37.791927,-122.225906,Bombing/Explosion,0.0,0.0,Edes Substation,1/2/1970: Unknown perpetrators detonated explo...,Unknown,Utilities,Explosives

In [ ]:
read_obj1.drop(2, inplace=False)
read_obj1.head()

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary
5,1970,1,1,United States,Illinois,North America,Cairo,37.005105,-89.176269,Armed Assault,0.0,0.0,Cairo Police Headquarters,1/1/1970: Unknown African American assailants ...,Black Nationalists,Police,Firearms
6,1970,1,2,Uruguay,Montevideo,South America,Montevideo,-34.891151,-56.187214,Assassination,0.0,0.0,Juan Maria de Lucah/Chief of Directorate of in...,NaN,Tupamaros (Uruguay),Police,Firearms

In [ ]:
read_obj1.index#returns a list of the row indices
read_obj1.drop(read_obj1.index[1], inplace =True)
read_obj1.index

Index([     2,      5,      6,      7,      8,      9,     10,     11,     12,
           13,
       ...
       181681, 181682, 181683, 181684, 181685, 181686, 181687, 181688, 181689,
       181690],
      dtype='int64', length=181687)

In [ ]:
c1=read_obj1[read_obj1.Country1=='India']
c1.shape

(11960, 17)

In [ ]:
print(read_obj1.iloc[0])
print(read_obj1.iloc[0:5])

Year1                          1970
Month1                            1
Day1                              0
Country1                Philippines
State1                       Tarlac
Region1              Southeast Asia
City1                       Unknown
Latitude1                 15.478598
Longitude1               120.599741
AttackType1           Assassination
Killed1                         1.0
Wounded1                        0.0
Target1                    Employee
Summary1                        NaN
Group1                      Unknown
Target_type1    Journalists & Media
Weapon_type1                Unknown
Name: 2, dtype: object
   Year1  Month1  Day1       Country1      State1         Region1       City1  \
2   1970       1     0    Philippines      Tarlac  Southeast Asia     Unknown
5   1970       1     1  United States    Illinois   North America       Cairo
6   1970       1     2        Uruguay  Montevideo   South America  Montevideo
7   1970       1     2  United States  California   North America     Oakland
8   1970       1     2  United States   Wisconsin   North America     Madison

   Latitude1  Longitude1                     AttackType1  Killed1  Wounded1  \
2  15.478598  120.599741                   Assassination      1.0       0.0
5  37.005105  -89.176269                   Armed Assault      0.0       0.0
6 -34.891151  -56.187214                   Assassination      0.0       0.0
7  37.791927 -122.225906               Bombing/Explosion      0.0       0.0
8  43.076592  -89.412488  Facility/Infrastructure Attack      0.0       0.0

                                             Target1  \
2                                           Employee
5                          Cairo Police Headquarters
6  Juan Maria de Lucah/Chief of Directorate of in...
7                                    Edes Substation
8  R.O.T.C. offices at University of Wisconsin, M...

                                            Summary1               Group1  \
2                                                NaN              Unknown
5  1/1/1970: Unknown African American assailants ...   Black Nationalists
6                                                NaN  Tupamaros (Uruguay)
7  1/2/1970: Unknown perpetrators detonated explo...              Unknown
8  1/2/1970: Karl Armstrong, a member of the New ...      New Year's Gang

          Target_type1 Weapon_type1
2  Journalists & Media      Unknown
5               Police     Firearms
6               Police     Firearms
7            Utilities   Explosives
8             Military   Incendiary

In [ ]:
read_obj1.loc[8]
#returns the rows according to their labels
#adds that row to the end of the tbale if the label is not aldready present in the table
#read_obj.loc[1]=[list of correspoding items]

Year1                                                        1970
Month1                                                          1
Day1                                                            2
Country1                                            United States
State1                                                  Wisconsin
Region1                                             North America
City1                                                     Madison
Latitude1                                               43.076592
Longitude1                                             -89.412488
AttackType1                        Facility/Infrastructure Attack
Killed1                                                       0.0
Wounded1                                                      0.0
Target1         R.O.T.C. offices at University of Wisconsin, M...
Summary1        1/2/1970: Karl Armstrong, a member of the New ...
Group1                                            New Year's Gang
Target_type1                                             Military
Weapon_type1                                           Incendiary
Name: 8, dtype: object

In [ ]:
read_obj1.tail()

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives

In [ ]:
read_obj1['month_day']=read_obj1['Month1']+read_obj1['Day1']
read_obj1.head()

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1,month_day
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,1
5,1970,1,1,United States,Illinois,North America,Cairo,37.005105,-89.176269,Armed Assault,0.0,0.0,Cairo Police Headquarters,1/1/1970: Unknown African American assailants ...,Black Nationalists,Police,Firearms,2
6,1970,1,2,Uruguay,Montevideo,South America,Montevideo,-34.891151,-56.187214,Assassination,0.0,0.0,Juan Maria de Lucah/Chief of Directorate of in...,NaN,Tupamaros (Uruguay),Police,Firearms,3
7,1970,1,2,United States,California,North America,Oakland,37.791927,-122.225906,Bombing/Explosion,0.0,0.0,Edes Substation,1/2/1970: Unknown perpetrators detonated explo...,Unknown,Utilities,Explosives,3
8,1970,1,2,United States,Wisconsin,North America,Madison,43.076592,-89.412488,Facility/Infrastructure Attack,0.0,0.0,"R.O.T.C. offices at University of Wisconsin, M...","1/2/1970: Karl Armstrong, a member of the New ...",New Year's Gang,Military,Incendiary,3

In [12]:
read_obj1.iloc[0:5,10]=np.nan
read_obj1.head()

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,NaN,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),NaN,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,NaN,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [16]:
read_obj1.Killed1.fillna(read_obj1.Killed1.mean(), inplace=True)
read_obj1.head()

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,2.403303,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),2.403303,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,2.403303,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,2.403303,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,2.403303,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [17]:
read_obj1.fillna(read_obj1.Killed1.mean())

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1
0,1970,7,2,Dominican Republic,2.403303,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,2.403303,0.000000,Julio Guzman,2.403303,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),2.403303,0.000000,"Nadine Chaval, daughter",2.403303,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,2.403303,0.000000,Employee,2.403303,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,2.403303,2.403303,U.S. Embassy,2.403303,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,2.403303,2.403303,U.S. Consulate,2.403303,Unknown,Government (Diplomatic),Incendiary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.000000,2.000000,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.000000,7.000000,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.000000,0.000000,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.000000,0.000000,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.000000,0.000000,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives

In [18]:
read_obj2=read_obj.copy()

In [30]:
read_obj2['gender']='male'
read_obj2.iloc[0:10:2,17]='female'
read_obj2.head(10)

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1,gender
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,2.403303,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,female
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),2.403303,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,male
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,2.403303,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,female
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,2.403303,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,male
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,2.403303,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,female
5,1970,1,1,United States,Illinois,North America,Cairo,37.005105,-89.176269,Armed Assault,0.000000,0.0,Cairo Police Headquarters,1/1/1970: Unknown African American assailants ...,Black Nationalists,Police,Firearms,male
6,1970,1,2,Uruguay,Montevideo,South America,Montevideo,-34.891151,-56.187214,Assassination,0.000000,0.0,Juan Maria de Lucah/Chief of Directorate of in...,NaN,Tupamaros (Uruguay),Police,Firearms,female
7,1970,1,2,United States,California,North America,Oakland,37.791927,-122.225906,Bombing/Explosion,0.000000,0.0,Edes Substation,1/2/1970: Unknown perpetrators detonated explo...,Unknown,Utilities,Explosives,male
8,1970,1,2,United States,Wisconsin,North America,Madison,43.076592,-89.412488,Facility/Infrastructure Attack,0.000000,0.0,"R.O.T.C. offices at University of Wisconsin, M...","1/2/1970: Karl Armstrong, a member of the New ...",New Year's Gang,Military,Incendiary,female
9,1970,1,3,United States,Wisconsin,North America,Madison,43.072950,-89.386694,Facility/Infrastructure Attack,0.000000,0.0,Selective Service Headquarters in Madison Wisc...,"1/3/1970: Karl Armstrong, a member of the New ...",New Year's Gang,Government (General),Incendiary,male

In [31]:
def f(s):
    if s=='male':
        return 1
    else:
        return 0

read_obj2['gender']=read_obj2.gender.apply(f)
(read_obj2.head(10))

,Year1,Month1,Day1,Country1,State1,Region1,City1,Latitude1,Longitude1,AttackType1,Killed1,Wounded1,Target1,Summary1,Group1,Target_type1,Weapon_type1,gender
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,2.403303,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,0
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),2.403303,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,1
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,2.403303,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,0
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,2.403303,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,1
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,2.403303,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,0
5,1970,1,1,United States,Illinois,North America,Cairo,37.005105,-89.176269,Armed Assault,0.000000,0.0,Cairo Police Headquarters,1/1/1970: Unknown African American assailants ...,Black Nationalists,Police,Firearms,1
6,1970,1,2,Uruguay,Montevideo,South America,Montevideo,-34.891151,-56.187214,Assassination,0.000000,0.0,Juan Maria de Lucah/Chief of Directorate of in...,NaN,Tupamaros (Uruguay),Police,Firearms,0
7,1970,1,2,United States,California,North America,Oakland,37.791927,-122.225906,Bombing/Explosion,0.000000,0.0,Edes Substation,1/2/1970: Unknown perpetrators detonated explo...,Unknown,Utilities,Explosives,1
8,1970,1,2,United States,Wisconsin,North America,Madison,43.076592,-89.412488,Facility/Infrastructure Attack,0.000000,0.0,"R.O.T.C. offices at University of Wisconsin, M...","1/2/1970: Karl Armstrong, a member of the New ...",New Year's Gang,Military,Incendiary,0
9,1970,1,3,United States,Wisconsin,North America,Madison,43.072950,-89.386694,Facility/Infrastructure Attack,0.000000,0.0,Selective Service Headquarters in Madison Wisc...,"1/3/1970: Karl Armstrong, a member of the New ...",New Year's Gang,Government (General),Incendiary,1

In [32]:
print((read_obj2.gender[111]))
print((read_obj2.gender.index[111]))

1
111